.navbar {
	margin-bottom: 10px;
}
.logo img{
	background-color:#ff0000;
}
.navbar div {
	background-color:#404040;
}
.navbar .link{
	margin-left:10px;margin-right:10px;
	color:#999999;
}
.navbar .link:hover{
	color:#ffffff;
}
#navbar-position-marker {
	float:right;
}
#navbar-position-marker .float {
	position:relative;
	background-color:#ffffff;
	top:55px;
}
#navbar-position-marker .float .fb-like{
	background-color:#ffffff;
	margin-top:5px;
	margin-right:5px;
}
#navbar-position-marker .float .btn {
	margin-top:-1px;
	margin-right:-1px;
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}
#front_heading {
	margin-bottom:10px;
}
#commentForm textarea{
	margin-bottom:10px;
	width:500px;
}
#comments-div .well{
	background-color: #ffffff;
	width:500px;
}

#side-bar {	}
#side-bar .well {
	/*width:240px;*/
	padding: 0px 0;
}
.icon-chevron-right {
	opacity: .10;
}
#side-bar .icon-chevron-right {
	float: right;
	opacity: .25;
}
#side-bar .side-bar-field {
	border: 1px solid #e5e5e5;
}
#side-bar .side-bar-div {
	padding-left:15px;
	overflow:auto;
}
#side-bar .side-bar-sall-checkbox {
	margin-top:5px;
	margin-left:-14px;
}
#side-bar-genres {
	height:300px;
}
#side-bar-averageRatings {
	height:100px;
}
#side-bar-releaseYears {
	height:200px;
}
#side-bar-expiring-soon {
	margin-top:-5px;
}
.tag-details-columns {
	/*min-width:100px;*/
}
.tag-details-record {}
.tag-details-record:hover {
	cursor: pointer;
	background-color: #e5e5e5;
}
.tag-details-record-link {
	width: 100%;
	color: #333333;
	/*border-bottom:1px dashed;*/
}
.tag-details-record-popover table td {
	border: none;
}
.tag-details-record-popover-close .icon-remove {
	opacity: 0.5
}
.tag-details-record-popover .box-art {
	text-align:center;
}
.detailed-synopsis {
	line-height: 1em;
	min-height: 2.5em;
}
.detailed-synopsis div {
	margin-bottom: 5px;
}
#results-table thead th div {
	color: #333333;
}
#results-table thead th .icon-arrow-both {
	background-image: url("/img/sort_both.png");
	background-position: center center;
	opacity: 1;
}
#results-table th:hover{}
#scroll-to-top-div {
    background-color: #cccccc;
    position:fixed;
    bottom:0px;
}
#scroll-to-top-div .btn {
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}
#comments-div .well{
	margin:0px;
	margin-bottom:10px;
	padding:0px;
	padding-left:5px;
}
