extends ../layout
block content 
  div.row
    div.span12
      center
        img#front_heading(src="/img/front_heading.png", alt="Netflix Instant Catalog Search")
  div.row
    div.span12
        h4 About Us
        p With Flixsear.ch we attempt to make searching for movies on <a href="http://www.netflix.com">Netflix</a> instant catalog easy.
          br
          span Please feel free to contact us with your feedback and help us improve the <a href="http://www.netflix.com">Netflix</a> movie discovery experience.

        address
            strong Contact Us
            br
            a(href="mailto:flixsearch@gmail.com") flixsearch@gmail.com